/* General styles for header and nav */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    position: relative;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.hamburger span {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: all 0.3s;
}

/* Navigation Links */
.nav-links {
    display: flex;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        max-width: max-content; /*option menu background width*/
        text-align: center;
    }
    
    .nav-links a {
        margin: 10px 10px 10px 10px;
    }
    
    .nav-links.active {
        display: flex;
    }
}

/* Container Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Section Styles */
section {
    margin-bottom: 50px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #4CAF50;
}

.skills-grid, .projects-grid, .socials-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.skill, .project, .social-link {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.2s;
}

.social-link:hover {
    transform: scale(1.1);
}

.social-link img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.social-link span {
    font-size: 1em;
    color: #4CAF50;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: 50px; /* Added to ensure the footer is pushed below content */
}
